.navigation{
  background-color: #6fa8dc;
  height: 500px;
  width: 20%;
  margin: 10px;
  border: 2px solid black;
}

.mainred{
  background-color: #e06666;
  height: 700px;
  width: 70%;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
